body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:405px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u764 {
  position:absolute;
  left:34px;
  top:341px;
  width:57px;
  height:16px;
}
#u765 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u766 {
  position:absolute;
  left:34px;
  top:17px;
  width:43px;
  height:16px;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:240px;
}
#u768 {
  position:absolute;
  left:12px;
  top:43px;
  width:391px;
  height:240px;
}
#u769 {
  position:absolute;
  left:2px;
  top:112px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:216px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  position:absolute;
  left:21px;
  top:49px;
  width:374px;
  height:216px;
}
#u771 {
  position:absolute;
  left:2px;
  top:100px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:240px;
}
#u772 {
  position:absolute;
  left:14px;
  top:367px;
  width:391px;
  height:240px;
}
#u773 {
  position:absolute;
  left:2px;
  top:112px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:216px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  position:absolute;
  left:23px;
  top:373px;
  width:374px;
  height:216px;
}
#u775 {
  position:absolute;
  left:2px;
  top:100px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:180px;
}
#u776 {
  position:absolute;
  left:53px;
  top:391px;
  width:314px;
  height:180px;
}
#u777 {
  position:absolute;
  left:2px;
  top:82px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u778 {
  position:absolute;
  left:234px;
  top:413px;
  width:21px;
  height:22px;
  font-size:18px;
}
#u779 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:52px;
}
#u780 {
  position:absolute;
  left:71px;
  top:413px;
  width:49px;
  height:52px;
}
#u781 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
}
#u782 {
  position:absolute;
  left:124px;
  top:403px;
  width:26px;
  height:29px;
}
#u783 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:40px;
}
#u784 {
  position:absolute;
  left:151px;
  top:425px;
  width:34px;
  height:40px;
}
#u785 {
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:46px;
}
#u786 {
  position:absolute;
  left:189px;
  top:461px;
  width:41px;
  height:46px;
}
#u787 {
  position:absolute;
  left:2px;
  top:15px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:44px;
}
#u788 {
  position:absolute;
  left:195px;
  top:391px;
  width:41px;
  height:44px;
}
#u789 {
  position:absolute;
  left:2px;
  top:14px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:44px;
}
#u790 {
  position:absolute;
  left:244px;
  top:433px;
  width:41px;
  height:44px;
}
#u791 {
  position:absolute;
  left:2px;
  top:14px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:51px;
}
#u792 {
  position:absolute;
  left:298px;
  top:414px;
  width:41px;
  height:51px;
}
#u793 {
  position:absolute;
  left:2px;
  top:18px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u794 {
  position:absolute;
  left:230px;
  top:502px;
  width:39px;
  height:12px;
  font-size:10px;
}
#u795 {
  position:absolute;
  left:2px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u796 {
  position:absolute;
  left:74px;
  top:470px;
  width:46px;
  height:12px;
  font-size:10px;
}
#u797 {
  position:absolute;
  left:2px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u798 {
  position:absolute;
  left:146px;
  top:470px;
  width:39px;
  height:12px;
  font-size:10px;
}
#u799 {
  position:absolute;
  left:2px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u800 {
  position:absolute;
  left:146px;
  top:393px;
  width:39px;
  height:12px;
  font-size:10px;
}
#u801 {
  position:absolute;
  left:2px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u802 {
  position:absolute;
  left:244px;
  top:393px;
  width:50px;
  height:12px;
  font-size:10px;
}
#u803 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u804 {
  position:absolute;
  left:268px;
  top:479px;
  width:32px;
  height:12px;
  font-size:10px;
}
#u805 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u806 {
  position:absolute;
  left:326px;
  top:470px;
  width:32px;
  height:12px;
  font-size:10px;
}
#u807 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u808 {
  position:absolute;
  left:355px;
  top:575px;
  width:10px;
  height:10px;
}
#u809 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
