body {
  margin:0px;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1485px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:898px;
}
#u514 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:898px;
}
#u515 {
  position:absolute;
  left:2px;
  top:441px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:75px;
}
#u516 {
  position:absolute;
  left:165px;
  top:156px;
  width:60px;
  height:75px;
  color:#6B6B6B;
}
#u517 {
  position:absolute;
  left:2px;
  top:30px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:60px;
}
#u518 {
  position:absolute;
  left:208px;
  top:371px;
  width:68px;
  height:60px;
  color:#6B6B6B;
}
#u519 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:66px;
}
#u520 {
  position:absolute;
  left:395px;
  top:256px;
  width:62px;
  height:66px;
  color:#6B6B6B;
}
#u521 {
  position:absolute;
  left:2px;
  top:25px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:88px;
}
#u522 {
  position:absolute;
  left:1054px;
  top:190px;
  width:59px;
  height:88px;
  color:#6B6B6B;
}
#u523 {
  position:absolute;
  left:2px;
  top:36px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:71px;
}
#u524 {
  position:absolute;
  left:589px;
  top:207px;
  width:66px;
  height:71px;
  color:#6B6B6B;
}
#u525 {
  position:absolute;
  left:2px;
  top:28px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:76px;
}
#u526 {
  position:absolute;
  left:806px;
  top:219px;
  width:64px;
  height:76px;
  color:#6B6B6B;
}
#u527 {
  position:absolute;
  left:2px;
  top:30px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:73px;
}
#u528 {
  position:absolute;
  left:908px;
  top:110px;
  width:59px;
  height:73px;
  color:#6B6B6B;
}
#u529 {
  position:absolute;
  left:2px;
  top:28px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u530 {
  position:absolute;
  left:819px;
  top:478px;
  width:15px;
  height:15px;
  color:#6B6B6B;
}
#u531 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:170px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532 {
  position:absolute;
  left:0px;
  top:782px;
  width:1485px;
  height:170px;
}
#u533 {
  position:absolute;
  left:2px;
  top:77px;
  width:1481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u534 {
  position:absolute;
  left:665px;
  top:190px;
  width:89px;
  height:20px;
  color:#6B6B6B;
}
#u535 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u536 {
  position:absolute;
  left:446px;
  top:211px;
  width:87px;
  height:20px;
  color:#6B6B6B;
}
#u537 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  word-wrap:break-word;
}
#u538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u538 {
  position:absolute;
  left:1123px;
  top:190px;
  width:90px;
  height:20px;
  color:#6B6B6B;
}
#u539 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u540 {
  position:absolute;
  left:258px;
  top:341px;
  width:92px;
  height:20px;
  color:#6B6B6B;
}
#u541 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u542 {
  position:absolute;
  left:800px;
  top:184px;
  width:98px;
  height:20px;
  color:#6B6B6B;
}
#u543 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u544 {
  position:absolute;
  left:216px;
  top:126px;
  width:60px;
  height:20px;
  color:#6B6B6B;
}
#u545 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u546 {
  position:absolute;
  left:951px;
  top:80px;
  width:79px;
  height:20px;
  color:#6B6B6B;
}
#u547 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u548 {
  position:absolute;
  left:1305px;
  top:544px;
  width:18px;
  height:18px;
  color:#6B6B6B;
}
#u549 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550 {
  position:absolute;
  left:1282px;
  top:525px;
  width:56px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
