body {
  margin:0px;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1485px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:898px;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:898px;
}
#u852 {
  position:absolute;
  left:2px;
  top:441px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:75px;
}
#u853 {
  position:absolute;
  left:165px;
  top:156px;
  width:60px;
  height:75px;
  color:#6B6B6B;
}
#u854 {
  position:absolute;
  left:2px;
  top:30px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:60px;
}
#u855 {
  position:absolute;
  left:208px;
  top:371px;
  width:68px;
  height:60px;
  color:#6B6B6B;
}
#u856 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:66px;
}
#u857 {
  position:absolute;
  left:395px;
  top:256px;
  width:62px;
  height:66px;
  color:#6B6B6B;
}
#u858 {
  position:absolute;
  left:2px;
  top:25px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:88px;
}
#u859 {
  position:absolute;
  left:1054px;
  top:190px;
  width:59px;
  height:88px;
  color:#6B6B6B;
}
#u860 {
  position:absolute;
  left:2px;
  top:36px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:71px;
}
#u861 {
  position:absolute;
  left:589px;
  top:207px;
  width:66px;
  height:71px;
  color:#6B6B6B;
}
#u862 {
  position:absolute;
  left:2px;
  top:28px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:76px;
}
#u863 {
  position:absolute;
  left:806px;
  top:219px;
  width:64px;
  height:76px;
  color:#6B6B6B;
}
#u864 {
  position:absolute;
  left:2px;
  top:30px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:73px;
}
#u865 {
  position:absolute;
  left:908px;
  top:110px;
  width:59px;
  height:73px;
  color:#6B6B6B;
}
#u866 {
  position:absolute;
  left:2px;
  top:28px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u867 {
  position:absolute;
  left:819px;
  top:478px;
  width:15px;
  height:15px;
  color:#6B6B6B;
}
#u868 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:170px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  position:absolute;
  left:0px;
  top:782px;
  width:1485px;
  height:170px;
}
#u870 {
  position:absolute;
  left:2px;
  top:77px;
  width:1481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u871 {
  position:absolute;
  left:665px;
  top:190px;
  width:89px;
  height:20px;
  color:#6B6B6B;
}
#u872 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u873 {
  position:absolute;
  left:446px;
  top:211px;
  width:87px;
  height:20px;
  color:#6B6B6B;
}
#u874 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u875 {
  position:absolute;
  left:1123px;
  top:190px;
  width:90px;
  height:20px;
  color:#6B6B6B;
}
#u876 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u877 {
  position:absolute;
  left:258px;
  top:341px;
  width:92px;
  height:20px;
  color:#6B6B6B;
}
#u878 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u879 {
  position:absolute;
  left:800px;
  top:184px;
  width:98px;
  height:20px;
  color:#6B6B6B;
}
#u880 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u881 {
  position:absolute;
  left:216px;
  top:126px;
  width:60px;
  height:20px;
  color:#6B6B6B;
}
#u882 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u883 {
  position:absolute;
  left:951px;
  top:80px;
  width:79px;
  height:20px;
  color:#6B6B6B;
}
#u884 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u885 {
  position:absolute;
  left:1305px;
  top:544px;
  width:18px;
  height:18px;
  color:#6B6B6B;
}
#u886 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887 {
  position:absolute;
  left:1282px;
  top:525px;
  width:56px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
