body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u860 {
  position:absolute;
  left:335px;
  top:247px;
  width:32px;
  height:36px;
}
#u861 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u862 {
  position:absolute;
  left:293px;
  top:247px;
  width:32px;
  height:36px;
}
#u863 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u864 {
  position:absolute;
  left:377px;
  top:247px;
  width:31px;
  height:36px;
}
#u865 {
  position:absolute;
  left:2px;
  top:10px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u866 {
  position:absolute;
  left:418px;
  top:247px;
  width:37px;
  height:36px;
}
#u867 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u868 {
  position:absolute;
  left:469px;
  top:247px;
  width:34px;
  height:36px;
}
#u869 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
