body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u827 {
  position:absolute;
  left:335px;
  top:247px;
  width:32px;
  height:36px;
}
#u828 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u829 {
  position:absolute;
  left:293px;
  top:247px;
  width:32px;
  height:36px;
}
#u830 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u831 {
  position:absolute;
  left:377px;
  top:247px;
  width:31px;
  height:36px;
}
#u832 {
  position:absolute;
  left:2px;
  top:10px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u833 {
  position:absolute;
  left:418px;
  top:247px;
  width:37px;
  height:36px;
}
#u834 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u835 {
  position:absolute;
  left:469px;
  top:247px;
  width:34px;
  height:36px;
}
#u836 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
