body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-78px;
  width:430px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1515 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u1516 {
  position:absolute;
  left:78px;
  top:132px;
  width:430px;
  height:101px;
}
#u1517 {
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u1518 {
  position:absolute;
  left:78px;
  top:233px;
  width:30px;
  height:663px;
}
#u1519 {
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u1520 {
  position:absolute;
  left:482px;
  top:233px;
  width:26px;
  height:663px;
}
#u1521 {
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u1522 {
  position:absolute;
  left:78px;
  top:896px;
  width:430px;
  height:102px;
}
#u1523 {
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1524 {
  position:absolute;
  left:106px;
  top:232px;
  width:375px;
  height:667px;
}
#u1524_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
