body {
  margin:0px;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1485px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:898px;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:898px;
}
#u811 {
  position:absolute;
  left:2px;
  top:441px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:75px;
}
#u812 {
  position:absolute;
  left:165px;
  top:156px;
  width:60px;
  height:75px;
}
#u813 {
  position:absolute;
  left:2px;
  top:30px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:60px;
}
#u814 {
  position:absolute;
  left:208px;
  top:371px;
  width:68px;
  height:60px;
}
#u815 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:66px;
}
#u816 {
  position:absolute;
  left:395px;
  top:256px;
  width:62px;
  height:66px;
}
#u817 {
  position:absolute;
  left:2px;
  top:25px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:88px;
}
#u818 {
  position:absolute;
  left:1054px;
  top:190px;
  width:59px;
  height:88px;
}
#u819 {
  position:absolute;
  left:2px;
  top:36px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:71px;
}
#u820 {
  position:absolute;
  left:589px;
  top:207px;
  width:66px;
  height:71px;
}
#u821 {
  position:absolute;
  left:2px;
  top:28px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:76px;
}
#u822 {
  position:absolute;
  left:806px;
  top:219px;
  width:64px;
  height:76px;
}
#u823 {
  position:absolute;
  left:2px;
  top:30px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:73px;
}
#u824 {
  position:absolute;
  left:908px;
  top:110px;
  width:59px;
  height:73px;
}
#u825 {
  position:absolute;
  left:2px;
  top:28px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u826 {
  position:absolute;
  left:819px;
  top:478px;
  width:15px;
  height:15px;
}
#u827 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:170px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u828 {
  position:absolute;
  left:0px;
  top:782px;
  width:1485px;
  height:170px;
}
#u829 {
  position:absolute;
  left:2px;
  top:77px;
  width:1481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u830 {
  position:absolute;
  left:1305px;
  top:544px;
  width:18px;
  height:18px;
}
#u831 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832 {
  position:absolute;
  left:1282px;
  top:525px;
  width:56px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
