body {
  margin:0px;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1485px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:898px;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:898px;
}
#u1455 {
  position:absolute;
  left:2px;
  top:441px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:75px;
}
#u1456 {
  position:absolute;
  left:165px;
  top:156px;
  width:60px;
  height:75px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:30px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:60px;
}
#u1458 {
  position:absolute;
  left:208px;
  top:371px;
  width:68px;
  height:60px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:66px;
}
#u1460 {
  position:absolute;
  left:395px;
  top:256px;
  width:62px;
  height:66px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:25px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:88px;
}
#u1462 {
  position:absolute;
  left:1054px;
  top:190px;
  width:59px;
  height:88px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:36px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:71px;
}
#u1464 {
  position:absolute;
  left:589px;
  top:207px;
  width:66px;
  height:71px;
}
#u1465 {
  position:absolute;
  left:2px;
  top:28px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:76px;
}
#u1466 {
  position:absolute;
  left:806px;
  top:219px;
  width:64px;
  height:76px;
}
#u1467 {
  position:absolute;
  left:2px;
  top:30px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:73px;
}
#u1468 {
  position:absolute;
  left:908px;
  top:110px;
  width:59px;
  height:73px;
}
#u1469 {
  position:absolute;
  left:2px;
  top:28px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1470 {
  position:absolute;
  left:819px;
  top:478px;
  width:15px;
  height:15px;
}
#u1471 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:170px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1472 {
  position:absolute;
  left:0px;
  top:782px;
  width:1485px;
  height:170px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:77px;
  width:1481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1474 {
  position:absolute;
  left:1305px;
  top:544px;
  width:18px;
  height:18px;
}
#u1475 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1476 {
  position:absolute;
  left:1282px;
  top:525px;
  width:56px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
