body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1865px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2070 {
  position:absolute;
  left:21px;
  top:58px;
  width:828px;
  height:410px;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2072 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u2073 {
  position:absolute;
  left:54px;
  top:0px;
  width:91px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2074 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u2075 {
  position:absolute;
  left:145px;
  top:0px;
  width:124px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2076 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u2077 {
  position:absolute;
  left:269px;
  top:0px;
  width:92px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2078 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u2079 {
  position:absolute;
  left:361px;
  top:0px;
  width:87px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2080 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u2081 {
  position:absolute;
  left:448px;
  top:0px;
  width:98px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2082 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u2083 {
  position:absolute;
  left:546px;
  top:0px;
  width:92px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2084 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u2085 {
  position:absolute;
  left:638px;
  top:0px;
  width:185px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2086 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:36px;
  width:54px;
  height:36px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u2089 {
  position:absolute;
  left:54px;
  top:36px;
  width:91px;
  height:36px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u2091 {
  position:absolute;
  left:145px;
  top:36px;
  width:124px;
  height:36px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u2093 {
  position:absolute;
  left:269px;
  top:36px;
  width:92px;
  height:36px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u2095 {
  position:absolute;
  left:361px;
  top:36px;
  width:87px;
  height:36px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u2097 {
  position:absolute;
  left:448px;
  top:36px;
  width:98px;
  height:36px;
  color:#666666;
}
#u2098 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u2099 {
  position:absolute;
  left:546px;
  top:36px;
  width:92px;
  height:36px;
  color:#169BD5;
}
#u2100 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u2101 {
  position:absolute;
  left:638px;
  top:36px;
  width:185px;
  height:36px;
  color:#169BD5;
}
#u2102 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:72px;
  width:54px;
  height:37px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u2105 {
  position:absolute;
  left:54px;
  top:72px;
  width:91px;
  height:37px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u2107 {
  position:absolute;
  left:145px;
  top:72px;
  width:124px;
  height:37px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2109 {
  position:absolute;
  left:269px;
  top:72px;
  width:92px;
  height:37px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u2111 {
  position:absolute;
  left:361px;
  top:72px;
  width:87px;
  height:37px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u2113 {
  position:absolute;
  left:448px;
  top:72px;
  width:98px;
  height:37px;
  color:#666666;
}
#u2114 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2115 {
  position:absolute;
  left:546px;
  top:72px;
  width:92px;
  height:37px;
  color:#169BD5;
}
#u2116 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2117 {
  position:absolute;
  left:638px;
  top:72px;
  width:185px;
  height:37px;
  color:#169BD5;
}
#u2118 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:109px;
  width:54px;
  height:37px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u2121 {
  position:absolute;
  left:54px;
  top:109px;
  width:91px;
  height:37px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u2123 {
  position:absolute;
  left:145px;
  top:109px;
  width:124px;
  height:37px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2125 {
  position:absolute;
  left:269px;
  top:109px;
  width:92px;
  height:37px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u2127 {
  position:absolute;
  left:361px;
  top:109px;
  width:87px;
  height:37px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u2129 {
  position:absolute;
  left:448px;
  top:109px;
  width:98px;
  height:37px;
  color:#666666;
}
#u2130 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2131 {
  position:absolute;
  left:546px;
  top:109px;
  width:92px;
  height:37px;
  color:#169BD5;
}
#u2132 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2133 {
  position:absolute;
  left:638px;
  top:109px;
  width:185px;
  height:37px;
  color:#169BD5;
}
#u2134 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:146px;
  width:54px;
  height:37px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u2137 {
  position:absolute;
  left:54px;
  top:146px;
  width:91px;
  height:37px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u2139 {
  position:absolute;
  left:145px;
  top:146px;
  width:124px;
  height:37px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2141 {
  position:absolute;
  left:269px;
  top:146px;
  width:92px;
  height:37px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u2143 {
  position:absolute;
  left:361px;
  top:146px;
  width:87px;
  height:37px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u2145 {
  position:absolute;
  left:448px;
  top:146px;
  width:98px;
  height:37px;
  color:#666666;
}
#u2146 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2147 {
  position:absolute;
  left:546px;
  top:146px;
  width:92px;
  height:37px;
  color:#169BD5;
}
#u2148 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2149 {
  position:absolute;
  left:638px;
  top:146px;
  width:185px;
  height:37px;
  color:#169BD5;
}
#u2150 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:183px;
  width:54px;
  height:37px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u2153 {
  position:absolute;
  left:54px;
  top:183px;
  width:91px;
  height:37px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u2155 {
  position:absolute;
  left:145px;
  top:183px;
  width:124px;
  height:37px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2157 {
  position:absolute;
  left:269px;
  top:183px;
  width:92px;
  height:37px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u2159 {
  position:absolute;
  left:361px;
  top:183px;
  width:87px;
  height:37px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u2161 {
  position:absolute;
  left:448px;
  top:183px;
  width:98px;
  height:37px;
  color:#666666;
}
#u2162 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2163 {
  position:absolute;
  left:546px;
  top:183px;
  width:92px;
  height:37px;
  color:#169BD5;
}
#u2164 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2165 {
  position:absolute;
  left:638px;
  top:183px;
  width:185px;
  height:37px;
  color:#169BD5;
}
#u2166 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u2167 {
  position:absolute;
  left:0px;
  top:220px;
  width:54px;
  height:37px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u2169 {
  position:absolute;
  left:54px;
  top:220px;
  width:91px;
  height:37px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u2171 {
  position:absolute;
  left:145px;
  top:220px;
  width:124px;
  height:37px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2173 {
  position:absolute;
  left:269px;
  top:220px;
  width:92px;
  height:37px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u2175 {
  position:absolute;
  left:361px;
  top:220px;
  width:87px;
  height:37px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u2177 {
  position:absolute;
  left:448px;
  top:220px;
  width:98px;
  height:37px;
  color:#666666;
}
#u2178 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2179 {
  position:absolute;
  left:546px;
  top:220px;
  width:92px;
  height:37px;
  color:#169BD5;
}
#u2180 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2181 {
  position:absolute;
  left:638px;
  top:220px;
  width:185px;
  height:37px;
  color:#169BD5;
}
#u2182 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:257px;
  width:54px;
  height:37px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u2185 {
  position:absolute;
  left:54px;
  top:257px;
  width:91px;
  height:37px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u2187 {
  position:absolute;
  left:145px;
  top:257px;
  width:124px;
  height:37px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2189 {
  position:absolute;
  left:269px;
  top:257px;
  width:92px;
  height:37px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u2191 {
  position:absolute;
  left:361px;
  top:257px;
  width:87px;
  height:37px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u2193 {
  position:absolute;
  left:448px;
  top:257px;
  width:98px;
  height:37px;
  color:#666666;
}
#u2194 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2195 {
  position:absolute;
  left:546px;
  top:257px;
  width:92px;
  height:37px;
  color:#169BD5;
}
#u2196 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2197 {
  position:absolute;
  left:638px;
  top:257px;
  width:185px;
  height:37px;
  color:#169BD5;
}
#u2198 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u2199 {
  position:absolute;
  left:0px;
  top:294px;
  width:54px;
  height:37px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u2201 {
  position:absolute;
  left:54px;
  top:294px;
  width:91px;
  height:37px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u2203 {
  position:absolute;
  left:145px;
  top:294px;
  width:124px;
  height:37px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2205 {
  position:absolute;
  left:269px;
  top:294px;
  width:92px;
  height:37px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u2207 {
  position:absolute;
  left:361px;
  top:294px;
  width:87px;
  height:37px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u2209 {
  position:absolute;
  left:448px;
  top:294px;
  width:98px;
  height:37px;
  color:#666666;
}
#u2210 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2211 {
  position:absolute;
  left:546px;
  top:294px;
  width:92px;
  height:37px;
  color:#169BD5;
}
#u2212 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2213 {
  position:absolute;
  left:638px;
  top:294px;
  width:185px;
  height:37px;
  color:#169BD5;
}
#u2214 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u2215 {
  position:absolute;
  left:0px;
  top:331px;
  width:54px;
  height:37px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u2217 {
  position:absolute;
  left:54px;
  top:331px;
  width:91px;
  height:37px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u2219 {
  position:absolute;
  left:145px;
  top:331px;
  width:124px;
  height:37px;
}
#u2220 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2221 {
  position:absolute;
  left:269px;
  top:331px;
  width:92px;
  height:37px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u2223 {
  position:absolute;
  left:361px;
  top:331px;
  width:87px;
  height:37px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u2225 {
  position:absolute;
  left:448px;
  top:331px;
  width:98px;
  height:37px;
  color:#666666;
}
#u2226 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2227 {
  position:absolute;
  left:546px;
  top:331px;
  width:92px;
  height:37px;
  color:#169BD5;
}
#u2228 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2229 {
  position:absolute;
  left:638px;
  top:331px;
  width:185px;
  height:37px;
  color:#169BD5;
}
#u2230 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u2231 {
  position:absolute;
  left:0px;
  top:368px;
  width:54px;
  height:37px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u2233 {
  position:absolute;
  left:54px;
  top:368px;
  width:91px;
  height:37px;
}
#u2234 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u2235 {
  position:absolute;
  left:145px;
  top:368px;
  width:124px;
  height:37px;
}
#u2236 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2237 {
  position:absolute;
  left:269px;
  top:368px;
  width:92px;
  height:37px;
}
#u2238 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u2239 {
  position:absolute;
  left:361px;
  top:368px;
  width:87px;
  height:37px;
}
#u2240 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u2241 {
  position:absolute;
  left:448px;
  top:368px;
  width:98px;
  height:37px;
  color:#666666;
}
#u2242 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2243 {
  position:absolute;
  left:546px;
  top:368px;
  width:92px;
  height:37px;
  color:#169BD5;
}
#u2244 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2245 {
  position:absolute;
  left:638px;
  top:368px;
  width:185px;
  height:37px;
  color:#169BD5;
}
#u2246 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
#u2247 {
  position:absolute;
  left:592px;
  top:138px;
  width:53px;
  height:22px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2250 {
  position:absolute;
  left:883px;
  top:58px;
  width:700px;
  height:470px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:227px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2252 {
  position:absolute;
  left:883px;
  top:58px;
  width:700px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2253 {
  position:absolute;
  left:2px;
  top:12px;
  width:696px;
  word-wrap:break-word;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2254 {
  position:absolute;
  left:1562px;
  top:70px;
  width:10px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2255 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u2256 {
  position:absolute;
  left:1083px;
  top:220px;
  width:300px;
  height:25px;
}
#u2256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2257 {
  position:absolute;
  left:1186px;
  top:321px;
  width:95px;
  height:40px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u2259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2260 {
  position:absolute;
  left:883px;
  top:586px;
  width:700px;
  height:470px;
}
#u2261 {
  position:absolute;
  left:2px;
  top:227px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2262 {
  position:absolute;
  left:883px;
  top:586px;
  width:700px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2263 {
  position:absolute;
  left:2px;
  top:12px;
  width:696px;
  word-wrap:break-word;
}
#u2264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2264 {
  position:absolute;
  left:1562px;
  top:598px;
  width:10px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2265 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u2266 {
  position:absolute;
  left:1320px;
  top:782px;
  width:146px;
  height:25px;
}
#u2266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2267 {
  position:absolute;
  left:1186px;
  top:966px;
  width:95px;
  height:40px;
}
#u2268 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:264px;
}
#u2269 {
  position:absolute;
  left:1233px;
  top:663px;
  width:1px;
  height:263px;
}
#u2270 {
  position:absolute;
  left:2px;
  top:124px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:221px;
}
#u2271 {
  position:absolute;
  left:915px;
  top:684px;
  width:308px;
  height:221px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:102px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.666666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2273 {
  position:absolute;
  left:1667px;
  top:127px;
  width:198px;
  height:44px;
  color:#FFFFFF;
}
#u2274 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  word-wrap:break-word;
}
#u2275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.666666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2275 {
  position:absolute;
  left:1667px;
  top:201px;
  width:198px;
  height:44px;
  color:#FFFFFF;
}
#u2276 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  word-wrap:break-word;
}
#u2277 {
  position:absolute;
  left:395px;
  top:18px;
  width:120px;
  height:22px;
}
#u2277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
}
#u2277_input:disabled {
  color:grayText;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2278 {
  position:absolute;
  left:33px;
  top:11px;
  width:300px;
  height:29px;
}
#u2279 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2280 {
  position:absolute;
  left:51px;
  top:17px;
  width:126px;
  height:16px;
  color:#666666;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2282 {
  position:absolute;
  left:749px;
  top:5px;
  width:95px;
  height:40px;
}
#u2283 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2284 {
  position:absolute;
  left:412px;
  top:488px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u2284_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2284.mouseOver {
}
#u2284_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2284.disabled {
}
#u2285 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2286 {
  position:absolute;
  left:452px;
  top:488px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u2286_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2286.mouseOver {
}
#u2286_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2286.disabled {
}
#u2287 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2288 {
  position:absolute;
  left:492px;
  top:488px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u2288_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2288.mouseOver {
}
#u2288_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2288.disabled {
}
#u2289 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2290 {
  position:absolute;
  left:532px;
  top:488px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u2290_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2290.mouseOver {
}
#u2290_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2290.disabled {
}
#u2291 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2292 {
  position:absolute;
  left:572px;
  top:488px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u2292_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2292.mouseOver {
}
#u2292_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2292.disabled {
}
#u2293 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u2294 {
  position:absolute;
  left:814px;
  top:488px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u2294_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u2294.mouseOver {
}
#u2294_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u2294.disabled {
}
#u2295 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2296 {
  position:absolute;
  left:614px;
  top:488px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u2296_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2296.mouseOver {
}
#u2296_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2296.disabled {
}
#u2297 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2298 {
  position:absolute;
  left:654px;
  top:488px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u2298_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2298.mouseOver {
}
#u2298_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2298.disabled {
}
#u2299 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2300 {
  position:absolute;
  left:694px;
  top:488px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u2300_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2300.mouseOver {
}
#u2300_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2300.disabled {
}
#u2301 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2302 {
  position:absolute;
  left:734px;
  top:488px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u2302_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2302.mouseOver {
}
#u2302_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2302.disabled {
}
#u2303 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2304 {
  position:absolute;
  left:774px;
  top:488px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u2304_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2304.mouseOver {
}
#u2304_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2304.disabled {
}
#u2305 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u2306 {
  position:absolute;
  left:372px;
  top:488px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u2306_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u2306.mouseOver {
}
#u2306_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#333333;
}
#u2306.disabled {
}
#u2307 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
