body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u643 {
  position:absolute;
  left:94px;
  top:80px;
  width:430px;
  height:101px;
}
#u644 {
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u645 {
  position:absolute;
  left:94px;
  top:181px;
  width:30px;
  height:663px;
}
#u646 {
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u647 {
  position:absolute;
  left:498px;
  top:181px;
  width:26px;
  height:663px;
}
#u648 {
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u649 {
  position:absolute;
  left:94px;
  top:844px;
  width:430px;
  height:102px;
}
#u650 {
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u651 {
  position:absolute;
  left:122px;
  top:181px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u652 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u653 {
  position:absolute;
  left:122px;
  top:181px;
  width:100px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u653_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u653.mouseDown {
}
#u654 {
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:150px;
  height:110px;
}
#u656 {
  position:absolute;
  left:240px;
  top:479px;
  width:140px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u657 {
  position:absolute;
  left:30px;
  top:42px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
  line-height:20px;
}
#u658 {
  position:absolute;
  left:240px;
  top:532px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
  line-height:20px;
}
#u659 {
  position:absolute;
  left:15px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u660 {
  position:absolute;
  left:290px;
  top:492px;
  width:40px;
  height:40px;
}
#u661 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u664 {
  position:absolute;
  left:636px;
  top:80px;
  width:430px;
  height:101px;
}
#u665 {
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u666 {
  position:absolute;
  left:636px;
  top:181px;
  width:30px;
  height:663px;
}
#u667 {
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u668 {
  position:absolute;
  left:1040px;
  top:181px;
  width:26px;
  height:663px;
}
#u669 {
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u670 {
  position:absolute;
  left:636px;
  top:844px;
  width:430px;
  height:102px;
}
#u671 {
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u672 {
  position:absolute;
  left:664px;
  top:181px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u673 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u674 {
  position:absolute;
  left:664px;
  top:181px;
  width:100px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u674_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u674.mouseDown {
}
#u675 {
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u677_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:150px;
  height:110px;
}
#u677 {
  position:absolute;
  left:782px;
  top:479px;
  width:140px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u678 {
  position:absolute;
  left:30px;
  top:42px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u679 {
  position:absolute;
  left:782px;
  top:532px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u680 {
  position:absolute;
  left:15px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u681 {
  position:absolute;
  left:827px;
  top:490px;
  width:50px;
  height:50px;
}
#u682 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u685 {
  position:absolute;
  left:1200px;
  top:80px;
  width:430px;
  height:101px;
}
#u686 {
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u687 {
  position:absolute;
  left:1200px;
  top:181px;
  width:30px;
  height:663px;
}
#u688 {
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u689 {
  position:absolute;
  left:1604px;
  top:181px;
  width:26px;
  height:663px;
}
#u690 {
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u691 {
  position:absolute;
  left:1200px;
  top:844px;
  width:430px;
  height:102px;
}
#u692 {
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u693 {
  position:absolute;
  left:1228px;
  top:181px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u694 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u695 {
  position:absolute;
  left:1228px;
  top:181px;
  width:100px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u695_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u695.mouseDown {
}
#u696 {
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:210px;
  height:61px;
}
#u697 {
  position:absolute;
  left:1316px;
  top:504px;
  width:200px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u698 {
  position:absolute;
  left:15px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u699 {
  position:absolute;
  left:596px;
  top:1131px;
  width:358px;
  height:245px;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u701 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u702 {
  position:absolute;
  left:65px;
  top:0px;
  width:82px;
  height:30px;
}
#u703 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u704 {
  position:absolute;
  left:147px;
  top:0px;
  width:113px;
  height:30px;
}
#u705 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u706 {
  position:absolute;
  left:260px;
  top:0px;
  width:93px;
  height:30px;
}
#u707 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u708 {
  position:absolute;
  left:0px;
  top:30px;
  width:65px;
  height:30px;
}
#u709 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u710 {
  position:absolute;
  left:65px;
  top:30px;
  width:82px;
  height:30px;
}
#u711 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u712 {
  position:absolute;
  left:147px;
  top:30px;
  width:113px;
  height:30px;
}
#u713 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u714 {
  position:absolute;
  left:260px;
  top:30px;
  width:93px;
  height:30px;
}
#u715 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u716 {
  position:absolute;
  left:0px;
  top:60px;
  width:65px;
  height:30px;
}
#u717 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u718 {
  position:absolute;
  left:65px;
  top:60px;
  width:82px;
  height:30px;
}
#u719 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u720 {
  position:absolute;
  left:147px;
  top:60px;
  width:113px;
  height:30px;
}
#u721 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u722 {
  position:absolute;
  left:260px;
  top:60px;
  width:93px;
  height:30px;
}
#u723 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u724 {
  position:absolute;
  left:0px;
  top:90px;
  width:65px;
  height:30px;
}
#u725 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u726 {
  position:absolute;
  left:65px;
  top:90px;
  width:82px;
  height:30px;
}
#u727 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u728 {
  position:absolute;
  left:147px;
  top:90px;
  width:113px;
  height:30px;
}
#u729 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u730 {
  position:absolute;
  left:260px;
  top:90px;
  width:93px;
  height:30px;
}
#u731 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u732 {
  position:absolute;
  left:0px;
  top:120px;
  width:65px;
  height:30px;
}
#u733 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u734 {
  position:absolute;
  left:65px;
  top:120px;
  width:82px;
  height:30px;
}
#u735 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u736 {
  position:absolute;
  left:147px;
  top:120px;
  width:113px;
  height:30px;
}
#u737 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u738 {
  position:absolute;
  left:260px;
  top:120px;
  width:93px;
  height:30px;
}
#u739 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u740 {
  position:absolute;
  left:0px;
  top:150px;
  width:65px;
  height:30px;
}
#u741 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u742 {
  position:absolute;
  left:65px;
  top:150px;
  width:82px;
  height:30px;
}
#u743 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u744 {
  position:absolute;
  left:147px;
  top:150px;
  width:113px;
  height:30px;
}
#u745 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u746 {
  position:absolute;
  left:260px;
  top:150px;
  width:93px;
  height:30px;
}
#u747 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u748 {
  position:absolute;
  left:0px;
  top:180px;
  width:65px;
  height:30px;
}
#u749 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u750 {
  position:absolute;
  left:65px;
  top:180px;
  width:82px;
  height:30px;
}
#u751 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u752 {
  position:absolute;
  left:147px;
  top:180px;
  width:113px;
  height:30px;
}
#u753 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u754 {
  position:absolute;
  left:260px;
  top:180px;
  width:93px;
  height:30px;
}
#u755 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u756 {
  position:absolute;
  left:0px;
  top:210px;
  width:65px;
  height:30px;
}
#u757 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u758 {
  position:absolute;
  left:65px;
  top:210px;
  width:82px;
  height:30px;
}
#u759 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u760 {
  position:absolute;
  left:147px;
  top:210px;
  width:113px;
  height:30px;
}
#u761 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u762 {
  position:absolute;
  left:260px;
  top:210px;
  width:93px;
  height:30px;
}
#u763 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:71px;
}
#u764 {
  position:absolute;
  left:950px;
  top:1157px;
  width:20px;
  height:70px;
}
#u765 {
  position:absolute;
  left:2px;
  top:27px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u766 {
  position:absolute;
  left:978px;
  top:1169px;
  width:84px;
  height:58px;
  color:#FF0000;
}
#u767 {
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:215px;
}
#u768 {
  position:absolute;
  left:566px;
  top:1157px;
  width:20px;
  height:214px;
}
#u769 {
  position:absolute;
  left:2px;
  top:99px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u770 {
  position:absolute;
  left:466px;
  top:1205px;
  width:90px;
  height:60px;
  color:#FF0000;
}
#u771 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
